<ng-container *ngIf="votes | async as tabVotes; else votesAbsent">

    <div *ngIf="tabVotes.length === 0">
        <div class="alert alert-danger" role="alert">
            Aucune donnée !
        </div>
    </div>

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let vote of tabVotes">
            <div class="row">
                <div class="col-3">
                    <img [src]="vote.collegue.photo" class="img-fluid" alt="photo user">
                </div>
                <div class="col-9">                    
                    <p><strong>{{vote.collegue.pseudo | uppercase}}</strong> est {{vote.avis | lowercase}},<br> son score est de {{vote.score | score}} </p>                    
                </div>
                <div class="col-12"><button class="btn btn-outline-danger w-100 mt-2">Supprimer</button></div>
            </div>
        </li>
    </ul>
    
    </ng-container>
    
    <ng-template #votesAbsent>
    <div class="alert alert-info" role="alert">
        Chargement en cours...
    </div>
    </ng-template>

